[merge]	
    tool = unityyamlmerge

[mergetool "unityyamlmerge"]
    cmd = './UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"
    trustExitCode = false
    
[diff]
    tool = unityyamlmerge
    
[difftool "unityyamlmerge"]
    cmd = './UnityYAMLMerge.exe' diff "$LOCAL" "$REMOTE"